<div id="wrapper">
  <h1>Smitten Kitchen Notes</h1>
  <h2><i>View the latest recipes from renowned cook and blogger Deb Perelman. Add your personal comments and view the comments of others.</i></h2>
  <div id="articles"></div>
  <div id="notes"></div>
</div>