/*Free from https://www.pexels.com/photo/board-bread-breakfast-bunch-349610/*/
body { background: url("/assets/images/pexels-photo-349610.jpeg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-size: 17px;
}

.title {
  color: darkgreen;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  background-color: white;
  padding: 15px;
}
      
#comments {
  float: right;
  width: 30%;
}
      
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}
      
textarea {
  height: 200px;
  font-size: 18px;
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.viewComments {
  font-weight: bold;
  text-decoration: underline;
  color: darkblue;
  margin-left: 40%;
}

a {
  float: left;
  font-weight: bold
}

h1 {
  float: left;
}

#scrape {
  clear: right;
  margin-left: 25px;
}
}